{{#section 'head'}}
    <script>
        window.API_BASE_URL = '/auth/v1';
    </script>
    <script src="/assets/app.js"></script>
{{/section}}

{{#if shouldShowSolution}}
    <a href="/auth/v1/solution">SHOW SOLUTION</a>
{{/if}}

<p>Here are Foo BAR's credentials "foobar:123456". Try to steal John DOE's data.</p>
