<ul>
    <li><a href="/auth">Authentication & Authorization</a></li>
    <li><a href="/csrf">C.S.R.F. (Cross-Site Request Forgery)</a></li>
    <li><a href="/jwt">J.W.T. (Json Web Token)</a></li>
    <li><a href="/redos">ReDoS (Regular Expression Denial of Service)</a></li>
</ul>
