<!DOCTYPE html>
<html>
<head>

    <title>{{ title }}</title>

    {{{_sections.head}}}

</head>
<body>

<h1>{{ title }}</h1>

{{{ body }}}

<div id="wt-user-form"></div>
<div id="wt-user-info"></div>
<div id="wt-todo-form"></div>
<div id="wt-todo-list"></div>

</body>
</html>
