{{#section 'head'}}
    <script>
        window.API_BASE_URL = '/csrf/v2';
    </script>
    <script src="/assets/todo.js"></script>
{{/section}}

<p>You are signed is as Foo BAR. Try to tamper with Foo BAR's data from another origin.</p>
